@charset "UTF-8";

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ----全体設定---- */

body {
  margin: 0;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #444;
}

/* ----ヘッドライン---- */

h1,
.h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: normal;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: normal;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: normal;
}

/* ----リンク---- */

a {
  text-decoration: none;
  color: #444;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* ----タグ---- */

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px dotted #ccc;
}
