@charset "UTF-8";

/* ----テーブル---- */

.table,
.table td,
.table th {
  border-collapse: collapse;
  border: 1px solid #c8c8c8;
}

.table td,
.table th {
  padding: 10px;
}

.table th {
  font-weight: bold;
  background-color: #f8f8f8;
}


/* ----テキストカラー----*/

.text-muted {
  color: #777;
}

.text-warning {
  color: #8a6d3b;
}

.text-danger {
  color: #a94442;
}

.price {
  color: #c30;
}

.default-price {
  text-decoration: line-through ;
  color: #333;
  font-weight: bold;
}

.net-price {
  color: #555;
}

.exchange-price {
  color: #555;
}

/* ----プロモーションメッセージ--- */

.promotion-criteria,
.promotion-benefit {
  color: #f00;
  font-weight: bold;
}

/* ----商品説明リスト---- */

.goods-detail-description {
  display: table;
  width: 100%;
}

.goods-detail-description dt {
  display: table-cell;
  width: 100px;
  font-weight: bold;
}

.goods-detail-description dd {
  display: table-cell;
}

/* ----パネル---- */

.panel {
  padding: 10px;
  overflow: hidden;
  border: solid 1px #dcdcdc;
  background: #fff;
}

/* ----バッジ---- */

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  background-color: #777;
}

.badge:empty {
  display: none;
}

/* ----ページャー---- */

.pager {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: right;
}

.pager > * {
  display: inline-block;
  vertical-align: top;
}

.pager-scope {
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
}

.pager-total {
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
}

.pagination {
  display: inline-block;
}

.pagination > * {
  list-style-type: none;
  float: left;
  margin-left: -1px;
  padding: 2px 7px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
}

.pagination > .disabled {
  color: #777;
}

.pager-current {
  color: #c00;
}

/* ----画像センタリング配置---- */

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-center img {
  flex-shrink: 0;
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

/* ----ツールチップ---- */

.balloontip {
  min-width: 20px;
  padding: 10px;
  border-radius: 6px;
  opacity: 1;
  z-index: 32767;
  text-align: left;
  font-size: 12px;
  border: 1px solid rgb(119, 119, 119);
  box-shadow: rgb(85, 85, 85) 4px 4px 4px;
  color: rgb(255, 255, 255);
  background: #333;
}

/* ----ドロップダウン---- */

.dropdown {
  z-index: 11000;
}

.dropdown li {
  background: #444;
}

.dropdown li span {
  display: block;
  padding: 13px 15px;
  margin: 0;
  text-decoration: none;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}

.dropdown li span:hover {
  background: #616d0b;
}

/* ----モーダルダイアログ---- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 10000;
}

.modal-overlay-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 10002;
}

.modal-alert {
  width: 400px;
  z-index: 10003;
}

.modal-dialog {
  width: 600px;
  z-index: 10001;
}

.modal-header {
  padding: 15px 20px 15px;
  font-size: 14px;
  font-weight: bold;
  clear: both;
  border-bottom: none;
  line-height: 1;
  color: #fff;
  background-color: #333;
}

.modal-content {
  background: #eee;
}

.modal-body {
  padding: 20px;
}

.modal-body p {
  margin-bottom: 10px;
}

.modal-body li {
  border-bottom: 1px dotted #444;
}

.modal-body li a {
  padding: 12px;
  color: #4da7ba;
  display: flex;
  max-width: 560px;
  font-size: 16px;
}
.modal-body li a i {
  margin: 0 10px 0 auto;
  color: #444;
  font-size: 16px;
}

.modal-body li a:hover {
  text-decoration: none;
}

.modal-body li a:hover i {
  color: #4da7ba;
  text-decoration: none;
}

.modal-footer {
  padding: 0 10px 15px;
}

.modal-alert .modal-footer {
  text-align: center;
}

.modal-alert .modal-footer input {
  width: 40%;
}

.modal-close {
  display: block;
  width: 18px;
  cursor: pointer;
  float: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.modal-dialog .modal-footer {
  text-align: center;
}

.modal-dialog .modal-footer .btn {
  min-width: 150px;
  margin-right: 5px;
}

/* ----ヘッダー警告---- */

.header-warning {
  position: relative;
  padding: 10px;
  background: #fffacd;
  border-bottom: 1px solid #b0c4de;
}

.header-warning-contents {
  display: block;
  padding-right: 18px;
  text-align: center;
  background: transparent;
}

.header-warning-close {
  display: block;
  position: absolute;
  width: 18px;
  cursor: pointer;
  font-weight: bold;
  top: 10px;
  right: 10px;
  background: transparent;
}

/* ----検索エンジン向けH1タグ---- */

.optimaized-h1 {
  margin: 0;
  font-size: 10px;
}

/* ----レビュー---- */

.star-base {
  cursor: pointer;
  width: 60px;
  height: 15px;
  background: url("../../img/usr/user_review/star.png");
}

.star-select {
  width: 60px;
  height: 15px;
  background: url("../../img/usr/user_review/star.png");
  background-repeat: no-repeat;
}

/* ----注文ステータス---- */

.status-order,
.status-cancel,
.status-income,
.status-reserve,
.status-rship,
.status-ship,
.status-verify,
.status-return,
.status-status_,
.status-status_1,
.status-status_2,
.status-status_3,
.status-status_4,
.status-status_9 {
  width: 300px;
  height: auto;
  min-height: 50px;
  border: #ccc solid 1px;
  padding: 5px 0;
}

.status-message,
.status-percentage {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5px;
}

.status-message {
  width: 70%;
  font-size: 12px;
}

.status-percentage {
  width: 30%;
  color: #031241;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

[class^="status-progress"] {
  display: block;
  position: relative;
  width: 96%;
  height: 14px;
  margin: 0 auto;
  background: #ccc;
}

[class^="status-progress"]:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  border-right: #031241 solid 4px;
  background: #1e5799;
}

.status-progress-20:after {
  width: 20%;
}

.status-progress-40:after {
  width: 40%;
}

.status-progress-60:after {
  width: 60%;
}

.status-progress-80:after {
  width: 80%;
}

.status-progress-100:after {
  width: 100%;
}

.status-reserve .status-message,
.status-cancel .status-message,
.status-return .status-message,
.status-status_ .status-message,
.status-status_1 .status-message,
.status-status_2 .status-message,
.status-status_3 .status-message,
.status-status_4 .status-message,
.status-status_9 .status-message {
  width: 100%;
}

.status-reserve [class^="status-progress"]:after {
  border-right: #ea7500 solid 4px;
  background: #f79800;
}

.status-return [class^="status-progress"]:after {
  border-right: #028900 solid 4px;
  background: #00ab0b;
}

/* ----ホワイトスペース制御----*/

.white-space-pre-wrap {
  white-space: pre-wrap;
}

/* ---- !!!! ここより下にスタイルを追加しないこと !!!! */

/* ----表示・非表示---- */

.hidden {
  display: none;
}

.show {
  display: block;
}
