<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Study 2</title>

    <link rel="stylesheet" type="text/css" media="screen" href="../css/main2.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/base.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/base_form.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/base_misc.css">

    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="rent">
        <form>
            <table class="basic_info">
                <tr>
                    <td>家賃</td>
                    <th><input type="text" v-model="rent_monthly"></th>
                </tr>
                <tr>
                    <td>共益費</td>
                    <th><input type="text" v-model="common_fee_monthly"></th>
                </tr>
                <tr>
                    <td>駐車場</td>
                    <th><input type="text" v-model="parking_monthly"></th>
                </tr>
                <tr class="kugiri">
                    <td>その他</td>
                    <th><input type="text" v-model="other_monthly"></th>
                </tr>
                <tr>
                    <td>契約開始日</td>
                    <th><input type="date" v-model="start_dt"></th>
                </tr>
                <tr>
                    <td>敷金 / <input type="text" class="mon" v-model="shiki_month">ヵ月</td>
                    <th><input type="text" v-model="shikikin" disabled></th>
                </tr>
                <tr>
                    <td>礼金 / <input type="text" class="mon" v-model="rei_month">ヵ月</td>
                    <th><input type="text" v-model="reikin" disabled></th>
                </tr>
            </table>
        </form>
    </div>

    <script type="text/javascript" src="../javascript/main2.js"></script>
</body>
</html>