<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Study</title>

    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div class="main" id="app-1">
        <span>{{ message }}</span><br>
        <span v-text="message"></span>
    </div>

    <div class="main" id="app-2">
        <input type="text" v-model="message">
        <div class="error" v-if="error.require">必須項目です。</div>
        <div class="error" v-if="error.tooLong">長すぎます。</div>
    </div>

    <div class="main" id="app-106">
        <input type="radio" name="app106-type" onclick="app106.type='A'" checked>
        <input type="radio" name="app106-type" onclick="app106.type='B'">
        <input type="radio" name="app106-type" onclick="app106.type='C'">
        <span v-if="type=='A'">Good morning.</span>
        <span v-else-if="type=='B'">Hello.</span>
        <span v-else>Bye.</span>
    </div>

    <div class="main" id="app-107">
        <ul>
            <li v-for="color in colorList">{{ color }}</li>
        </ul>
    </div>

    <div class="main" id="app-108">
        <button v-on:click="hello">Hello!</button>
        <button @click="hello">Hello!</button>
    </div>

    <div class="main" id="app-109">
        <input type="button" v-bind:value="message">
        <input type="button" :value="message">
    </div>

    <div class="main" id="app-120">
        <input v-model="message"><br>
        <span>Message: {{ message }}</span>
    </div>

    <div class="main" id="app-122">
        <span class="memo">v-cloak あんまりよくわからない</span><br>
        <button onclick="location.reload()">再表示</button><br>
        <div><span v-cloak>Message: {{ message }}</span></div>
        <div><span>Message: {{ message }}</span></div>
    </div>

    <div class="main" id="app-123">
        <input type="text" name="text1" v-model:value="message"><br>
        <div><span v-once>Message: {{ message }}</span></div>
        <div><span>Message: {{ message }}</span></div>
    </div>

    <div class="main" id="app-140">
        <my-element-140></my-element-140>
    </div>

    <div class="main" id="app-141">
        <my-component-141></my-component-141>
    </div>

    <div class="main" id="app-142">
        <div>{{ message }}</div>
    </div>

    <div class="main" id="app-143">
        <input type="button" @click="addBlue" value="Add">
        <input type="button" @click="deleteBlue" value="Delete">
        <ul>
            <li v-for="(value, key) in colorList">
                {{ key }} = {{ value }}
            </li>
        </ul>
    </div>

    <div class="main" id="app-144">
        <div v-font16>Hello! 144</div>
    </div>

    <div class="main" id="app-145">
        <div>{{ message | toupper }}</div>
    </div>

    <div class="main" id="app-202">
        <my-element-202 value="Hello! 202"></my-element-202>
    </div>

    <div class="main" id="app-203">
        <div id="el-203"></div>
    </div>

    <div class="main" id="app-204">
        <div><input v-model="message"></div>
        <div>Message: {{ upperMessage }}</div>
    </div>

    <div class="main" id="app-205">
        <button @click="toUpper">Upper</button>
        <button @click="toLower">Lower</button>
        <div>{{ message }}</div>
    </div>

    <div class="main" id="app-206">
        <form>
            <input type="text" name="text1" :value="message">
            <input type="button" @click="change" value="Change">
            <div>変更前: {{ oldmsg }}</div>
            <div>変更後: {{ newmsg }}</div>
        </form>
    </div>

    <div class="main" id="app-252">
        <my-comp1></my-comp1>
        <my-comp2></my-comp2>
        <my-comp3></my-comp3>
    </div>

    <div class="main" id="app-261">
        <input type="button" @click="hello" value="Hello">
    </div>

    <script type="text/javascript" src="../javascript/main.js"></script>
</body>
</html>