@charset "UTF-8";

/* ----入力フォーム共通---- */

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="text"] {
    padding: 4px;
    border: none;
    background-color: #fff;
}
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="number"],
select,
textarea {
  padding: 4px;
  border: 1px solid #999;
  background-color: #fff;
}

input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="search"]:hover,
input[type="password"]:hover,
input[type="url"]:hover,
input[type="number"]:hover,
select:hover,
textarea:hover {
  border: 1px solid #666;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

label.radio,
label.checkbox,
input[type="radio"],
input[type="radio"] + label,
input[type="checkbox"],
input[type="checkbox"] + label,
select {
  cursor: pointer;
}

input[type="text"][disabled] {
  /* background: #dcdcdc; */
  background-color: #fff;
  cursor: not-allowed;
}

/* ----ボタン---- */

.btn {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 10px;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none !important;
}

.btn-default {
  color: #333;
  border: solid 1px #dcdcdc;
  background-color: #e5e5e5;
}

.btn-primary {
  color: #fff;
  border: solid 1px #c54f00;
  background-color: #f60;
}

.btn-secondary {
  color: #fff;
  border: solid 1px #333;
  background-color: #666;
}

.btn-danger {
  color: #fff;
  border: solid 1px #c30;
  background-color: #d9534f;
}

.hidden-btn {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

/* ----画面上部メッセージ---- */

.alert {
  margin-top: 5px;
  padding: 10px 10px 10px 30px;
  margin-bottom: 5px;
  position: relative;
  border: 1px solid #ebccd1;
  color: #a94442;
  background-color: #f2dede;
}

.alert:before {
  font-family: FontAwesome;
  content: "\f071";
  position: absolute;
  left: 10px;
}

.success {
  margin-top: 5px;
  padding: 10px 10px 10px 30px;
  margin-bottom: 5px;
  position: relative;
  border: 1px solid #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
}

.success:before {
  font-family: FontAwesome;
  content: "\f05a";
  position: absolute;
  left: 10px;
}

/* ----入力フォームタイトル---- */

.legend {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 2px solid #444;
}

/* ----縦型入力フォーム---- */

.fieldset-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fieldset-vertical .form-group {
  margin: 5px 0 10px 0;
}

.fieldset-vertical .form-label,
.fieldset-vertical .constraint {
  float: left;
  margin: 0 0 5px 0;
}

.fieldset-vertical .form-label {
  margin: 0 5px 0 0;
}

.fieldset-vertical .form-label label {
  font-weight: bold;
}

.fieldset-vertical .form-control {
  clear: both;
}

/* ----横型入力フォーム---- */

.fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.fieldset .form-group {
  display: table;
  width: 100%;
}

.fieldset .form-label,
.fieldset .constraint,
.fieldset .form-control {
  display: table-cell;
}

.fieldset .form-label {
  width: 20%;
  padding: 5px;
  text-align: right;
}

.fieldset .form-label label {
  font-weight: bold;
}

.fieldset .constraint {
  width: 45px;
  padding: 5px;
}

.fieldset .form-control {
  padding: 5px;
}

/* ----入力支援---- */

.form-error {
  display: block;
  color: #a94442;
  font-weight: bold;
  background: #f2dede;
}

.required:after {
  display: inline;
  padding: .2em .6em;
  font-size: 11px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  color: #fff;
  background-color: #d9534f;
  content: "必須";
}

.help-block {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  color: #737373;
}

.count-msg-another {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  color: #555;
}

.count-msg {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  color: #f66;
}

/* ----入力フォームボタン---- */

.action-buttons {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: block;
}

.action {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.action .btn {
  margin-top: 10px;
  padding: 8px 8px;
  font-size: 16px;
  border-bottom-width: 2px;
  min-width: 160px;
}

/* ----ラジオボタン、チェックボックス---- */

.radio {
  margin-right: 10px;
}

.checkbox {
  margin-right: 10px;
}

/* ----EFO---- */
.efo-icon {
  border: none;
  vertical-align: middle;
}

input[type="text"].efo-error,
input[type="tel"].efo-error,
input[type="email"].efo-error,
input[type="search"].efo-error,
input[type="password"].efo-error,
input[type="url"].efo-error,
input[type="number"].efo-error,
select.efo-error,
textarea.efo-error {
  background-color: #f2dede;
}

input[type="text"].efo-valid,
input[type="tel"].efo-valid,
input[type="email"].efo-valid,
input[type="search"].efo-valid,
input[type="password"].efo-valid,
input[type="url"].efo-valid,
input[type="number"].efo-valid,
select.efo-valid,
textarea.efo-valid {
  background-color: #e9f2d7;
}
